DATABASE_URL=postgresql+psycopg://myuser:mypassword123@localhost:5432/myapp_db

# Opcional si la base de datos no esta definida
# POSTGRES_USER=myuser
# POSTGRES_PASSWORD=mypassword123
# POSTGRES_DB=myapp_db

# Seguridad
# SECRET_KEY=
# ALGORITHM=
# ACCESS_TOKEN_EXPIRE_MINUTES=30